<!DOCTYPE html> {% load static compress %}
<html>

<head>
  <meta charset="utf-8">

  <link rel="shortcut icon" type="image/png" href="{% static 'places/images/favicon.png' %}">

  <title>Go Outside</title>

  {% compress css %}
    <link rel="stylesheet" href="{% static 'places/bootstrap-4.1.0/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'places/css/bootstrap.theme.css' %}">
    <link rel="stylesheet" href="{% static 'places/css/global.css' %}">
    {% block styles %}{% endblock %}
  {% endcompress %}

  {% if google_analytics %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ google_analytics }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ google_analytics }}');
    </script>
  {% endif %}

  <!-- Developed by kjpc-tech (https://kjpc.tech/developerlink/) -->
</head>

<body>
  <header class="bg-light text-dark border-bottom border-info py-4 mb-4">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>Go Outside</h1>
        </div>
      </div>
    </div>
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>

  <footer  class="bg-dark text-light border-top border-info py-4 mt-4">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <p class="m-0">Use at your own risk. Please contact local agencies for accurate and up-to-date information regarding land use.</p>
          <p class="mt-2"><small>The information provided on this website is <a href="https://hub.arcgis.com/pages/open-data" target="_blank">Open Data</a> from <a href="https://hub.arcgis.com/" target="_blank">ArcGIS Hub</a>.</small></p>
        </div>
      </div>

      <div class="row">
        <div class="col-12 text-center small">
          <a class="mr-lg-4" href="#" data-toggle="modal" data-target="#tos-modal">Terms of Service</a>
          <a class="mr-lg-4" href="https://gitlab.com/kjpc-tech/go-outside" target="_blank">Source Code</a>
          <a class="mr-lg-4" href="https://gitlab.com/kjpc-tech/go-outside#adding-more-places" target="_blank">Adding More Places</a>
          <a href="https://kjpc.tech/developerlink/" target="_blank">Developer</a>
        </div>
      </div>
    </div>
  </footer>

  <div class="modal" id="tos-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Terms of Service</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body">
          <p>The information provided on this website is provided "as is", with no warranties of any kind. In no event shall the developer be liable for any claim, damages or other liability due to the use or misuse of this website in any way.</p>
          <p>This website is intended to be a help in providing public land access information to the website users. It is the responsibility of the website user to verify that the information is accurate with local agencies before using the land.</p>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  {% compress js %}
    <script src="{% static 'places/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'places/bootstrap-4.1.0/js/bootstrap.min.js' %}"></script>
    {% block scripts %}{% endblock %}
  {% endcompress %}
  {% block scripts-uncompressed %}{% endblock %}
</body>

</html>
