{% extends "places/base.html" %}

{% load static %}

{% block styles %}
  <link href="{% static 'places/css/places.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="container" id="app">
    <div class="row">
      <div class="col-lg-4 mb-4 mb-lg-0">
        <select class="form-control" name="category" v-model="category">
          <option value="all">All Categories</option>
          <option v-for="option in categories" v-bind:value="option.id">
            (( option.name ))
          </option>
        </select>
      </div>

      <div class="col-lg-4 mb-4 mb-lg-0">
        <select class="form-control" name="state" v-model="state">
          <option value="all">All States</option>
          {% for value, display in states %}
            <option value="{{ value }}">
              {{ display }}
            </option>
          {% endfor %}
        </select>
      </div>

      <div class="col-lg-4 mb-4 mb-lg-0">
        <input type="text" class="form-control" name="search" placeholder="Search" v-model="search">
      </div>
    </div>

    <div class="row border-bottom border-success pb-4 my-4">
      <div class="col-12">
        <div class="form-check form-check-inline mx-3" v-for="option in attributes">
          <input type="checkbox" class="form-check-input m-0" name="attributes" v-bind:id="'attribute-' + option.id" v-bind:value="option.id" v-on:click="adjust_attributes">
          <label class="form-check-label p-0" v-bind:for="'attribute-' + option.id">(( option.name ))</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div id="map" ref="map"></div>
      </div>
    </div>

    <div id="place_info" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"><span v-if="current_place_index != null">(( places[current_place_index].name ))</span></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <snap aria-hidden="true">&times;</snap>
            </button>
          </div>

          <div class="modal-body">
            <div class="container-fluid" v-if="current_place_index != null">
              <div class="row">
                <div class="col-12">
                  <p><span class="text-muted">Category:</span> (( categories_by_key[places[current_place_index].category].name ))</p>
                  <p><span class="text-muted">Attributes:</span></p>
                  <ul>
                    <li v-for="attr in places[current_place_index].attributes">(( attributes_by_key[attr].name ))</li>
                  </ul>
                  <p><span class="text-muted">Source:</span> (( sources_by_key[places[current_place_index].source].name ))</p>
                </div>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <input ref="category_list_url" type="hidden" v-model="category_list_url" data-default="{% url 'places:category_list' %}">
    <input ref="attribute_list_url" type="hidden" v-model="attribute_list_url" data-default="{% url 'places:attribute_list' %}">
    <input ref="source_list_url" type="hidden" v-model="source_list_url" data-default="{% url 'places:source_list' %}">
    <input ref="place_list_url" type="hidden" v-model="place_list_url" data-default="{% url 'places:place_list' %}">
  </div>
{% endblock %}

{% block scripts %}
  <script src="{% static 'places/js/vue.min.js' %}"></script>
  <script src="{% static 'places/js/vue-resource.min.js' %}"></script>
  <script src="{% static 'places/js/places.js' %}"></script>
{% endblock %}
{% block scripts-uncompressed %}
  <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=init_map"></script>
{% endblock %}
